<div class="pagination">
  <% if item_pages %>
    <% %w{next previous}.each do |dir| %>
      <% page = item_pages[dir.to_sym] %>
      <%= link_to t("ubiquo.#{dir}"), params.merge({:page => page}), {:class => "bot_pag_#{dir}#{' disabled' unless page}"} %>
    <% end %>
  <% end %>
</div>
