a {
	color: #881B20;
}
.sidebar_box a.on {
	background-color: #881B20;
}

#header {
	background: #B7383F;
}
#header_central {
	background: -moz-linear-gradient(0% 0% 270deg, #000000, #B7383F);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000000), to(#B7383F));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#B7383F');
}
#tabs li {
	background-color: #881B20;
}
#tabs li.active a, #tabs li.active span {
	/*color: #881B20;*/
}
form h3 {
	color: #B7383F;
}
#lightwindow_contents h3 {
	color: #881B20;
}
#lightwindow_contents fieldset li h4 {
	color: #881B20;
}