<% form_tag(ubiquo_settings_path) do %>
  <%= hidden_field_tag :id, setting.id %>
  <%= #  uhook_setting_form
  %>
  <div class="form-item">        
    <%= render_template_type(setting) %>        
  </div>
<% end %>