<div class="empty_list">
  <div class="a_gran">
    <a href="#">Crear nou recurs</a>
  </div>
  <%= ubiquo_image_tag "example_list.jpg", :class => "mostra_llistat" %>

  <div id="entrepa_llistat">
    <h4>Llistat multimèdia</h4>
    <p>
					Des d’aquest apartat pots veure una llista de tots els recursos existents.
      <br/>
					Podràs crear-los, editar-los o esborrar-los.
    </p>
    <img src="edit_files/triangle.gif" class="triangle"/>
  </div>
  <br style="clear: both;"/>
</div>
